.about .content{
    max-width: 300px;
}
.about .content:hover{
    color: #f39c12;
}
.footer{
    background-color: #262626;
    color: white;
    width: 100%;
    font-family: "Josefin Sans",sans-serif;
}
.row-1{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ffffff;
    
}
.footer-col{
    width: 20%;
    padding: 0 15px;
}
.about-1{
    width: 40%;
}

.footer-col h4{
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 15px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
color: #f39c12;
padding-left: 8px;
}
.copy span{
    color: #f39c12;
}

.footer .row-2{
    display: flex;
    justify-content: center;
}

@media(max-width: 767px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }

}
